<div style="text-align:center; font-size:24px; font-weight:bold;">AL2001-Programming For AI</div>
<br>
<div style="text-align:center; font-size:24px; font-weight:bold;">Instructor: Muhammad Saad Rashad</div>
<br>
<div style="text-align:center; font-size:18px; font-weight:bold;">email: saad.rashad@nu.edu.pk</div>

# **1 Lists:**
- Ordered sequence of information, accessible by index
- A list is denoted by square brackets, [ ]
- A list contains elements
> 1.   usually homogeneous (ie, all integers)
> 2.   can contain mixed types (not common)
- List elements can be changed so a list is mutable

In [68]:
homogeneous=["Apple","Mangoes","Banana"] # homogeneous
mixed= ["Apple","Mangoes","Banana",23,1,True] #Mixed Type
print(homogeneous)
print(mixed)

['Apple', 'Mangoes', 'Banana']
['Apple', 'Mangoes', 'Banana', 23, 1, True]

## **1.1 List Operations:**

### Accessing Examples:

In [69]:
homogeneous[2]

'Banana'

OR

In [70]:
print(homogeneous[2])

Banana

In [71]:
for i in range(len(mixed)):
  print(mixed[i])

Apple
Mangoes
Banana
23
1
True

In [72]:
for index,elements in enumerate(mixed):  #or enumerate(list,start=1 or 2 or 3)
  print(f"Index {index}: {elements}")

Index 0: Apple
Index 1: Mangoes
Index 2: Banana
Index 3: 23
Index 4: 1
Index 5: True

#### Range VS Enumerate:
- range() is a built-in function used to iterate through a sequence of numbers. Some common use cases would be to iterate from the numbers 0 to 10:

- enumerate() is a built-in function to iterate through a sequence and keep track of both the index and the number. You can pass in an optional start parameter to indicate which number the index should start at:

### Modifying Example(s)

In [73]:
for i in range(len(homogeneous)):
  if homogeneous[i]=="Banana":
    homogeneous[i] = "Kiwi"
  print(homogeneous[i])

Apple
Mangoes
Kiwi

### Adding Example

**Using append:** Adds an element to the end of the list

In [74]:
homogeneous.append("Banana")
print(homogeneous)

['Apple', 'Mangoes', 'Kiwi', 'Banana']

**Using Insert:** Adds an element at the specified index

In [75]:
homogeneous.insert(1,"Grapes")
print(homogeneous)

['Apple', 'Grapes', 'Mangoes', 'Kiwi', 'Banana']

## Concatenation Examples:

In [76]:
homogeneous.extend(mixed)
print(homogeneous)

['Apple', 'Grapes', 'Mangoes', 'Kiwi', 'Banana', 'Apple', 'Mangoes', 'Banana', 23, 1, True]

## Remove Elements Examples:

In [77]:
del(homogeneous[10]) #removes an element at the specified index
print(homogeneous)

['Apple', 'Grapes', 'Mangoes', 'Kiwi', 'Banana', 'Apple', 'Mangoes', 'Banana', 23, 1]

In [78]:
homogeneous.remove("Mangoes") #removes the mentioned element from the list
print(homogeneous)

['Apple', 'Grapes', 'Kiwi', 'Banana', 'Apple', 'Mangoes', 'Banana', 23, 1]

# **2. List manipulation**
- Lambda, zip, map, and filter are powerful tools for manipulating lists in Python.
- They allow you to perform various operations on lists and can make your code more concise and readable

### **2.1. Lambda**
- Anonymous functions in Python roughly means functions with no name
- We can write an anonymous function in Python using the lambda keyword.
- A lambda function is defined without a name.
- It is defined using the `lambda` keyword.
- A lambda function can have one or more arguments.
- But it will have only one expression. This is why a lambda function is often called a lambda expression.


#### **Syntax**
```
lambda argument(s): expression
```

In [79]:
def identity_func(val): #Normal Function
    return val

print(identity_func(100))

100

In [80]:
x = lambda val:val #Lambda Function
print(x(100))

100

### **2.1.1 List manipulation with Lambda**

In [8]:
mylist=["Hello","Congratulations","WHY","Hell0"]

lowercase = lambda string: string.lower()
print((lowercase,mylist))
#or
print(list(map(lowercase,mylist)))

['hello', 'congratulations', 'why', 'hell0']

In [82]:
count = lambda x :len(x.upper())
print(list(map(count,mylist)))

[5, 15, 3, 5]

### **2.2 Zip**
- The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
- The iterables you pass to zip can be lists, tuples, strings, or any other iterable objects

### **Syntax**
`zip(iterable1, iterable2, ...)`

In [83]:
zipped = zip(range(4),'ABCD')
print(tuple(zipped))

((0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'))

### **2.2.1 List manipulation with Zip**

In [84]:
list1=[3,4,5,6]
list2=["A","B","C","D"]
zipped = zip(list1,list2)
print(list(zipped))

[(3, 'A'), (4, 'B'), (5, 'C'), (6, 'D')]

In [85]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)

print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

### **2.3. Map**
- The map() function applies a given function to each element of an iterable (list, tuple etc.) and returns an iterator containing the results.
- It can be used to transform data efficiently.


### **Syntax**

```
map(function, iterable, ...)
```

In [86]:
def squared(number):
  return number * number

mapped = map(squared,range(1,5))
print(list(mapped))

[1, 4, 9, 16]

### **2.3.1 List manipulation with map**

In [87]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

### **2.4. Filter**
- The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.
- The function is applied to each element of the iterable and if it returns True, the element is selected by the filter() function.
- In short it allows you to process an iterable and extract those items that satisfy a given condition

### **Syntax**


```
# filter(function, iterable)
```

In [88]:
number_list=[2,3,-4,-5,6,-7,8,-9,9,-2]
def positive_numbers(number):
  if number >0:
    return number
  return False

filtered = filter(positive_numbers,number_list)

print(list(filtered))

[2, 3, 6, 8, 9]

### **2.4.1 List manipulation with Filter**

In [89]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

## **Task:**


1.  **Create a chatbot using the following hints:**

In [90]:
#def chatbot():
  #user_input
  # Base case: Exit the chatbot if the user types "exit", "bye" or "quit" <--- List
  #.....

  #Recursive case: Continue the conversation
  #....
  # Recursively call the chatbot function to continue the conversation


#def response(user_input):

  #Generate responses based on the input

#Start the chatbot
#print("Hello good sir/ma'am how may I assis you?")
#chatbot ()

2.   **Create a text based adventure game with a unique story line and
different unique paths where user roams a forest and can add,
remove or access items from his inventory.**
**Note: Pass the list as an argument**

3. You have a list of words e.g word_list = ["Apple", "Banana", "Avocado", "Cherry", "Apricot","Grapes"], and you want to find the words that start with letter, 'A', and then count the total number of such words.

4. Write a python program where you have two lists one shows list of items and the other list
shows their expirey date, aggregate both list using zip and then filter out the items using
filter function that are expired keeping the unexpired items in inventory list.

Hints:

i. from datetime import date

ii. items = ["Milk", "Bread", "Eggs", "Yogurt", "Cheese"]

iii. expiration_dates = [date(2023, 9, 30), date(2023, 10, 15), date(2023, 9 ,25), date(2023, 9, 8), date(2023, 10, 10)]

iv. current_date = date.today()