<div style="text-align:center; font-size:24px; font-weight:bold;">AL2001-Programming For AI</div>
<br>
<div style="text-align:center; font-size:24px; font-weight:bold;">Instructor: Muhammad Saad Rashad</div>
<br>
<div style="text-align:center; font-size:18px; font-weight:bold;">email: saad.rashad@nu.edu.pk</div>

# **1. Tuples**
- an ordered sequence of elements, can mix element types
- cannot change element values, immutable
- represented with parentheses ()

In [28]:
def tupleTypes():
  emptyTuple=() # empty tuple
  intTuple=(1,2,3,4,5) #Tuple wiht integers
  mixedTuple=(2,"Artificial",5.66) # Mixed Tuple
  listinside=(45,[2,3,5,3]) #List inside
  nestedTuple=(55,(2,"Deep Fake",67)) # Nested Tuple

  print(emptyTuple)
  print(intTuple)
  print(mixedTuple)
  print(listinside)
  print(nestedTuple)

tupleTypes()

()
(1, 2, 3, 4, 5)
(2, 'Artificial', 5.66)
(45, [2, 3, 5, 3])
(55, (2, 'Deep Fake', 67))

## **1.1 Tuple with single Element:**
- Tuple with a single element is a bit tricky
- Having one element in parenthesis is not enough
- A trailing comma needs to be added.

In [2]:
def singleElement():
  s_tuple=("hello",)
  print(s_tuple)

singleElement()

('hello',)

## **1.2 Indexing and Slicing:**
#### **a. Indexing:**
- Like lists we can use the index operator [ ] to access an item in a tuple, where the index starts from 0.

In [30]:
def indexing():
  indexTuple=('a','b','c','d','e','f','g','h','i','j')
  print(indexTuple[0])
  print(indexTuple[7])
  print(indexTuple[4])

indexing()

a
h
e

#### **b. Slicing:**
- We can access a range of items in a tuple by using the slicing operator colon :

In [31]:
def slicing():
  sliceTuple=('a','b','c','d','e','f','g','h','i','j')
  # elements 2nd to 4th index
  print(sliceTuple[1:4])

  # elements 8th to end
  print(sliceTuple[7:])

  # elements beginning to end
  print(sliceTuple[:])
slicing()

('b', 'c', 'd')
('h', 'i', 'j')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

### **c. Negative Indexing:**
- Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.
- You can use negative indexing in order to get elements of both list and tuple

In [1]:
def negative():
  negTuple=('a','b','c','d','e','f','g','h','i','j')
  # Last element gets printed
  print(negTuple[-1])

  # Second Last element gets printed
  print(negTuple[-2])

  # Third Last element gets printed
  print(negTuple[-3])
negative()

j
i
h

## **1.3 Operations on Tuple:**
- Tuples doesn't support mutation or modification like a list does.
- This is due reasons such as consistency,safety,performance etc.

### **Concatenation**
- Combine two or more tuples using the + operator to create a new tuple.

In [33]:
tuple1=('20',30,"hello")
tuple2=("help","install",True)
concattuple= tuple1+tuple2
def concat(val):
  print(val)


concat(concattuple)

('20', 30, 'hello', 'help', 'install', True)

### **Membership Test**
- Checks if elements exist in a tuple using “in” keyword and gives True if the value exists

In [34]:
def checktuple():
  tuplecheck=("myname",23,"argentina")
  existance="myname" in tuplecheck
  print(existance)
checktuple()

True

### **Count**
- Count the number of occurrences of a specific element within a tuple using the count() method

In [35]:
def occurrences():
  tupleocc=('A','B','a','c','a','b','a',1,2,3,1,5)
  count=tupleocc.count('a')
  print(count)

occurrences()

3

### **Swap values using Tuple**

In [36]:
value1=20
value2=55
(value1,value2) = (value2,value1)
print(value1,value2)

55 20

### **Return values**
- used to return more than one value from a function

In [37]:
def quotient_and_remainder(x, y):
    q = x // y  #Calculates Quotient
    r = x % y   #Calculates Remainder
    return (q, r)

(quot, rem) = quotient_and_remainder(5,3)
print(quot)
print(rem)

1
2

# **2. Sets**
- A set is an unordered collection of elements.
- Elements are separated by commas and are place within "{}".
- Sets are like lists but they cannot contain duplicate value. Sets are also mutable.
- They do not support indexing, slicing, or other sequence-like behavior sue to unordered nature.


#### **Syntax**
```
variable_name={'element1','element2','element3'...}
```

In [38]:
set_variable={1,2,3,4,5,6}
print(set_variable)

{1, 2, 3, 4, 5, 6}

### **2.a Duplicat Set**
- Let's see how sets deal with a duplicate value

In [39]:
dup_set = {1,2,3,3,4,5,6,7,7}
print(dup_set)

{1, 2, 3, 4, 5, 6, 7}

### **2.b  Empty Sets**
- Adding a curly brackets will define the variable as dictionary
- To make a set without any elements, we use the set() function without any argument.

In [40]:
empty_set=set()
empty_tuple=()
empty_dict = {}

print(type(empty_set))
print(type(empty_tuple))
print(type(empty_dict))

<class 'set'>
<class 'tuple'>
<class 'dict'>

# **2.1. Operations on Sets**
### **2.1.1 add()**
- Sets are mutable. However, since they are unordered, indexing has no meaning.

In [43]:
my_set ={3,4,5,6}
my_set.add(8)
print(my_set)

{3, 4, 5, 6, 8}

### **2.1.2 Remove**
- We use the discard() method to remove the specified element from a set

In [44]:
my_set ={3,4,5,6,8}
my_set.discard(8)
print(my_set)

{3, 4, 5, 6}

### **2.1.3 Update**
- The update() method is used to update the set with items other collection types (lists, tuples, sets, etc)

In [45]:
E_products={'TV','Mobile Phone'}
E_brands = ['Sony','Samsung','Sony']
E_products.update(E_brands)
print(E_products)

{'Sony', 'Samsung', 'Mobile Phone', 'TV'}

### **2.1.4 Union**
- The union of two sets A and B include all the elements of set A and B.
- We use the | operator or the union() method to perform the set union operation

In [46]:
set_A={1,2,3,4}
set_B = {"A","B","C","D"}
print("Union operation using | operator: ", set_A|set_B)
print("Union Operation using union()", set_A.union(set_B))

Union operation using | operator:  {1, 2, 3, 4, 'A', 'C', 'D', 'B'}
Union Operation using union() {1, 2, 3, 4, 'A', 'C', 'D', 'B'}

### **2.1.5 Intersection**
- The intersection of two sets A and B include the common elements between set A and B.
- We use the & operator or the intersection() method to perform the set intersection operation

In [47]:
set_A={1,2,3,4}
set_B = {1,7,4,8,9}
print("intersection operation using & operator: ", set_A & set_B)
print("intersection operation using intersection()", set_A.intersection(set_B))

intersection operation using & operator:  {1, 4}
intersection operation using intersection() {1, 4}

### **2.1.6 Difference**
- The difference between two sets A and B include elements of set A that are not present on set B.
- We use the - operator or the difference() method to perform the difference between two sets

In [48]:
set_A={1,2,3,4,11,9}
set_B = {1,7,4,8,9,5}
print("Difference operation using - operator: ", set_A - set_B)
print("Difference Operation using difference()", set_A.difference(set_B))

Difference operation using - operator:  {11, 2, 3}
Difference Operation using difference() {11, 2, 3}

#### Note: like lists sets are also iterable. There are other operations that can be perfromed on set
https://www.programiz.com/python-programming/set

**Task 1:** Tuple Creation and Access
Create a tuple with the following elements: 'apple', 'banana', 'cherry', 'date'.
Print the entire tuple.
Access and print the first and last elements of the tuple.
Slice and print the tuple from the second to the third element.

**Task 2:** Tuple Unpacking
Create a tuple containing the following elements: (10, 20, 30, 40).
Unpack the tuple into four separate variables: a, b, c, and d.
Print each of the variables.

**Note:** Use function

**Task 3: Set Membership and Modification**.Create an empty set. Add the following elements to the set: 1, 3, 5, 7. Print the set. Check if the element 3 is in the set and print the result. Remove the element 5 from the set and print the updated set.